@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #0A0A0A;
}

@layer components {
  .hover-icon {
    @apply transition-transform transform duration-300 ease-in-out hover:scale-125 hover:-translate-y-2 cursor-pointer hover:drop-shadow-glow;
  }
  .hover-glow {
    @apply hover:bg-primaryText hover:drop-shadow-glow hover:text-primaryBg hover:border-0 transition-transform transform duration-300 ease-in-out hover:scale-125 hover:-translate-y-2
  }
  
}

#trackDiv {
  background: radial-gradient( 1000px circle at var(--mouse-x) var(--mouse-y), rgba(160, 223, 252, 0.103), transparent 40%);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  z-index: -10;
  pointer-events: none;
  filter: blur(10px);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(3.2px);
  border: 1px solid rgba(255, 255, 255, 0.19);
}

.icon-glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.7px);
  -webkit-backdrop-filter: blur(10.7px);
  border: 1px solid rgba(255, 255, 255, 0.47);
}